{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-unused-vars": "warn",
    "semi": ["error", "always"]
  },
  "env": {
    "es6": true,
    "jest/globals": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "wx": true,
    "App": true,
    "Page": true,
    "Component": true
  },
  "plugins": ["jest"]
}
